.detallePedidos {
  flex-direction: row;
  display: flex;
}

.orderItem {
  // border: 3px solid orange;
  padding-right: 25px;
  //margin-right: 25px;
  overflow-y: scroll;
  height: 320px;
}

.orderItem::-webkit-scrollbar {
  width: 12px;
}
.orderItem {
  scrollbar-width: thin;
  scrollbar-color: red black;
}
.orderItem::-webkit-scrollbar-track {
  background: orange;
}
.orderItem::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
  border: 3px solid orange;
}


.orderDetailItem__card{
  width: 65%;
  margin-left: 25px;
}

//Punto de ruptura, A partir de este dato, deja de ser movil responsive.
$breakpoint-alpha: 480px; 
@media (max-width: $breakpoint-alpha) {
  .detallePedidos {
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
