.menuForm__card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: 0 2rem 2rem 2rem;
    padding: 0.5rem;
    justify-content: space-between;
    text-align: center;
    
    & h3{
        margin-top: -10px;
    }

    .menuForm__Icon{
        margin:auto;
        display:block;
        width: 62px;
        height: 62px;
    }

    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
        margin: 0;
    }
    hr{
        width: 80%;
        border: 1;
    }
}
